.container-fluid {
    color: peachpuff;
}

.jumbotron {
    background-color: cornsilk;
}

.team-area {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    
}

.card-header {
    color: cornflowerblue;
    background-color: plum;
}

.card {
    margin-bottom: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}